<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.demo.product.dao.ProductDao">

    <resultMap id="productResultMap" type="Product">
        <id property="id" column="id"></id>
        <result property="addTime" column="addtime"></result>
        <result property="updateTime" column="updatetime"></result>
        <result property="productName" column="product_name"></result>
        <result property="productPresentation" column="product_presentation"></result>
    </resultMap>

    <sql id="selectAllColumnProduct">
        SELECT product.id, product.addtime, product.updatetime, product_name, product_presentation FROM
    </sql>

    <!-- 查找所有 -->
    <select id="findAll" resultMap="productResultMap">
        SELECT id, product_name FROM
        product ORDER BY addtime
    </select>

    <!-- 根据id查产品 -->
    <select id="get" resultMap="productResultMap">
        <include refid="selectAllColumnProduct"/>
        product WHERE id=#{0}
    </select>

    <!--查找用户参与的产品-->
    <select id="findByUser" resultMap="productResultMap">
        <include refid="selectAllColumnProduct"/>
        product JOIN product_member ON product.id = product_member.product_id
        WHERE user_id = #{0}
    </select>

    <!-- 添加产品 -->
    <insert id="add">
        INSERT INTO product (id, addtime, updatetime, product_name, product_presentation)
        VALUES (#{id}, #{addTime}, #{updateTime}, #{productName}, #{productPresentation})
    </insert>

    <!-- 添加产品成员 -->
    <insert id="addParticipator">
        INSERT INTO product_member (id, addtime, updatetime, product_id, user_id)
        VALUES (#{id}, #{addTime}, #{updateTime}, #{productId}, #{userId})
    </insert>

    <!-- 删除产品成员 -->
    <delete id="deleteParticipator">
        DELETE FROM product_member
        WHERE product_id = #{productId} AND user_id = #{userId}
    </delete>

    <update id="update">
        UPDATE product
        <set>
            product_name = #{productName},
            product_presentation = #{productPresentation},
            updatetime = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>
</mapper>