<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.demo.common.department.dao.DepartmentDao">

    <resultMap id="departmentResultMap" type="Department">
        <id property="id" column="id"></id>
        <result property="addTime" column="addtime"></result>
        <result property="updateTime" column="updatetime"></result>
        <result property="departmentName" column="department_name"></result>
    </resultMap>

    <sql id="selectAllColumnDepartment">
        SELECT id,addtime,updatetime,department_name FROM
    </sql>
    <select id="findByPage" resultMap="departmentResultMap">
        <include refid="selectAllColumnDepartment"/>
        department ORDER BY addtime
    </select>

    <insert id="addDepartment">
         INSERT INTO department (id,addtime,updatetime,department_name)
         VALUES (#{id},#{addTime},#{updateTime},#{departmentName})
    </insert>
</mapper>