<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.demo.user.dao.PremissionDao">
    <resultMap id="premissionResultMap" type="Premission">
        <id property="id" column="id"></id>
        <result property="addTime" column="addtime"></result>
        <result property="updateTime" column="updatetime"></result>
        <result property="premissionName" column="premission_name"></result>
        <result property="field" column="premission_field"></result>
        <result property="menu" column="is_menu"></result>
        <result property="parentId" column="parent_id"></result>
    </resultMap>

    <sql id="selectAllColumnPremission">
        SELECT p.id , p.addtime , p.updatetime ,premission_name , premission_field , is_menu , parent_id FROM
    </sql>

    <!--查找所有权限-->
    <select id="findPremission" resultMap="premissionResultMap">
        <include refid="selectAllColumnPremission"/>
        premission p ORDER BY addtime
    </select>

    <!--根据是否菜单查找权限-->
    <select id="findByIsMenu" resultMap="premissionResultMap">
        <include refid="selectAllColumnPremission"/>
        premission p WHERE is_menu = #{0} ORDER BY parent_id
    </select>

    <!--根据是否菜单查找权限-->
    <select id="findByRoleId" resultMap="premissionResultMap">
        <include refid="selectAllColumnPremission"/>
        premission p join role_premission rp on p.id = rp.premission_id WHERE role_id = #{id}
    </select>

    <insert id="addRolePremission">
        INSERT INTO role_premission (id,addtime,updatetime,role_id,premission_id)
        VALUES (#{id},#{addTime},#{updateTime},#{roleId},#{premissionId})
    </insert>

    <insert id="addPremission">
        INSERT INTO premission (id,addtime,updatetime,premission_name,premission_field,is_menu,parent_id)
        VALUES (#{id},#{addTime},#{updateTime},#{premissionName},#{field},#{menu},#{parentId})
    </insert>

    <update id="updatePremission">
        UPDATE premission
        <set>
            updatetime = #{updateTime},
            premission_name = #{premissionName},
            premission_field = #{field},
            is_menu = #{menu},
            parent_id = #{parentId}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteRolePremission">
        DELETE FROM role_premission WHERE TRUE
        <if test="null != roleId">and role_id = #{roleId}</if>
        <if test="null != premissionId">and premission_id = #{premissionId}</if>
    </delete>

    <delete id="deletePremission">
        DELETE FROM premission WHERE id = #{0}
    </delete>
</mapper>