<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.demo.user.dao.RoleDao">
    <resultMap id="roleResultMap" type="Role">
        <id property="id" column="id"></id>
        <result property="addTime" column="addtime"></result>
        <result property="updateTime" column="updatetime"></result>
        <result property="roleName" column="role_name"></result>
    </resultMap>

    <!--查询表中所有列-->
    <sql id="selectAllColumnRole">
        SELECT role.id , role.addtime , role.updatetime , role_name FROM
    </sql>

    <!--查询所有角色-->
    <select id="find" resultMap="roleResultMap">
        <include refid="selectAllColumnRole"/>
        role ORDER BY addtime
    </select>

    <select id="get" resultMap="roleResultMap">
        <include refid="selectAllColumnRole"/>
        role WHERE id = #{0}
    </select>

    <!--查询用户角色表信息-->
    <select id="findByUserRole" resultMap="roleResultMap">
        <include refid="selectAllColumnRole"/>
        role JOIN user_role ON role.id = user_role.role_id WHERE
        TRUE
        <if test="null != userId">AND user_id = #{userId}</if>
        <if test="null != roleId">AND role.id = #{roleId}</if>
    </select>

    <!---->
    <select id="getByRoleName" resultMap="roleResultMap">
        <include refid="selectAllColumnRole"/>
        role  WHERE role_name = #{0}
    </select>

    <insert id="add">
        INSERT INTO role (id,addtime,updatetime,role_name)
        VALUES (#{id},#{addTime},#{updateTime},#{roleName})
    </insert>

    <insert id="addUserRole">
        INSERT INTO user_role (id,addtime,updatetime,user_id,role_id)
        VALUES (#{id},#{addTime},#{updateTime},#{userId},#{roleId})
    </insert>

    <update id="update">
        UPDATE role
        <set>
            updatetime = #{updateTime},
            role_name = #{roleName}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteUserRole">
        DELETE FROM user_role WHERE TRUE
        <if test="userId != null">and user_id = #{userId}</if>
        <if test="roleId != null">and role_id = #{roleId}</if>
    </delete>

    <delete id="delete">
        DELETE FROM role WHERE id = #{0}
    </delete>


</mapper>