<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.demo.bug.dao.BugOperatingRecordDao">

    <resultMap id="bugOperatingRecordResultMap" type="BugOperatingRecord">
        <id property="id" column="id"></id>
        <result property="addTime" column="addtime"></result>
        <result property="updateTime" column="updatetime"></result>
        <result property="bugId" column="bug_id"></result>
        <result property="operationNumber" column="operation_number"></result>
        <association property="operationUser" column="operation_user_id" select="com.dayi.demo.user.dao.UserDao.get"/>
        <association property="user" column="user_id" select="com.dayi.demo.user.dao.UserDao.get"/>
    </resultMap>

    <sql id="selectAllColumnBugOperatingRecord">
        SELECT id, addtime, updatetime, bug_id, operation_number, operation_user_id, operation_user_id, user_id FROM
    </sql>

    <select id="findBugOperatingRecordByBugId" resultMap="bugOperatingRecordResultMap">
        <include refid="selectAllColumnBugOperatingRecord"/>
        bug_operating_record WHERE bug_id = #{bugId} ORDER BY addtime
    </select>

    <insert id="addBugOperatingRecord">
        INSERT INTO bug_operating_record (id, addtime, updatetime, user_id, operation_number, bug_id, operation_user_id)
        VALUES (#{id}, #{addTime}, #{updateTime}, #{user.id}, #{operationNumber}, #{bugId}, #{operationUser.id})
    </insert>

</mapper>