<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.demo.need.dao.NeedDao">

    <resultMap id="NeedResultMap" type="Need">
        <id property="id" column="id"></id>
        <result property="addTime" column="addtime"></result>
        <result property="updateTime" column="updatetime"></result>
        <result property="needName" column="need_name"></result>
        <result property="needDescription" column="need_description"></result>
        <result property="descriptionFilepath" column="need_description_filepath"></result>
        <result property="descriptionFilename" column="need_description_filename"></result>
        <result property="needFilepath" column="need_filepath"></result>
        <result property="needFilename" column="need_filename"></result>
        <association property="user" column="user_id" select="com.dayi.demo.user.dao.UserDao.get"/>
        <association property="project" column="project_id" select="com.dayi.demo.project.dao.ProjectDao.get"/>
    </resultMap>

    <sql id="selectAllColumnNeed">
        SELECT id, addtime, updatetime, need_name, need_description, need_description_filepath,
        need_description_filename, need_filepath, need_filename, user_id, project_id FROM
    </sql>

    <!--查找项目下的所有需求-->
    <select id="findByprojectId" resultMap="NeedResultMap">
        <include refid="selectAllColumnNeed"/>
        need WHERE project_id = #{0} ORDER BY addtime
    </select>

    <!--获取单个需求-->
    <select id="get" resultMap="NeedResultMap">
        <include refid="selectAllColumnNeed"/>
        need WHERE id = #{0}
    </select>

    <insert id="add">
        insert into need (id, addtime, updatetime, need_name, need_description, need_description_filepath,
        need_description_filename, need_filepath, need_filename,user_id, project_id)
        VALUES (#{id}, #{addTime}, #{updateTime}, #{needName}, #{needDescription}, #{descriptionFilepath},
        #{descriptionFilename}, #{needFilepath}, #{needFilename}, #{user.id}, #{project.id})
    </insert>


</mapper>